DEBUG=True
SECRET_KEY=django-insecure-learning-app-secret-key-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1

LLM_PROVIDER=openrouter
OPENROUTER_MODEL=gemini-3.5-flash-lite
OPENROUTER_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/chat/completions
OPENROUTER_API_KEY=AQ.Ab8RN6JdlXUNRql86FteIGtfCxiSF23oTufgWPSDcNeeXV80vg
