DEBUG=True
SECRET_KEY=django-insecure-learning-app-secret-key-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1

OPENROUTER_API_KEY=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
OPENROUTER_MODEL=openrouter/free


LLM_PROVIDER=ollama
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen3:8b